In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('HR_comma_sep.csv')
df.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [16]:
df = df.drop(['average_montly_hours','time_spend_company'], axis='columns')

In [18]:
for i in range(14999):
    if(df['salary'][i] == 'low'): df['salary'] = 0
    if(df['salary'][i] == 'medium'): df['salary'] = 0.5
    if(df['salary'][i] == 'high'): df['salary'] = 1

In [17]:
dummies = pd.get_dummies(df['Department'])
dummies

,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
14994,0,0,0,0,0,0,0,0,1,0
14995,0,0,0,0,0,0,0,0,1,0
14996,0,0,0,0,0,0,0,0,1,0
14997,0,0,0,0,0,0,0,0,1,0
14998,0,0,0,0,0,0,0,0,1,0

In [21]:
df = df.drop('Department', axis='columns')

In [23]:
merged = pd.concat([df,dummies], axis='columns')
merged

,satisfaction_level,last_evaluation,number_project,Work_accident,left,promotion_last_5years,salary,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0.38,0.53,2,0,1,0,0,0,0,0,0,0,0,0,1,0,0
1,0.80,0.86,5,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2,0.11,0.88,7,0,1,0,0,0,0,0,0,0,0,0,1,0,0
3,0.72,0.87,5,0,1,0,0,0,0,0,0,0,0,0,1,0,0
4,0.37,0.52,2,0,1,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,0,1,0,0,0,0,0,0,0,0,0,0,1,0
14995,0.37,0.48,2,0,1,0,0,0,0,0,0,0,0,0,0,1,0
14996,0.37,0.53,2,0,1,0,0,0,0,0,0,0,0,0,0,1,0
14997,0.11,0.96,6,0,1,0,0,0,0,0,0,0,0,0,0,1,0
14998,0.37,0.52,2,0,1,0,0,0,0,0,0,0,0,0,0,1,0

In [24]:
import matplotlib.pyplot as plt 
%matplotlib inline

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
lr = LogisticRegression()

In [39]:
X = merged.drop('left',axis='columns')
y = merged['left'].values
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.8)

In [40]:
lr.fit(X_train,y_train)

LogisticRegression()

In [41]:
y_predicted = lr.predict(X_test)

In [47]:
lr.score(X_test,y_test)

0.7786666666666666